target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
src/main/resources/application-local.yml
src/main/resources/application-bty.yml
### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/*
*.iws
*.iml
/src/main/java/com/olivia/peanut/*/vue/*
./java-doc
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
/src/main/resources/application-*.yml
/src/main/resources/redisson-*.yml
### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

lib.*

